Source: ros-humble-synchros2
Section: misc
Priority: optional
Maintainer: RAI Institute <opensource@rai-inst.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-typing-extensions <!nocheck>, ros-humble-example-interfaces <!nocheck>, ros-humble-std-msgs <!nocheck>, ros-humble-std-srvs <!nocheck>, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-synchros2
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-action-msgs, ros-humble-geometry-msgs, ros-humble-launch, ros-humble-message-filters, ros-humble-rclpy, ros-humble-tf2-msgs, ros-humble-tf2-ros-py, ros-humble-ros-workspace
Description: RAI Institute wrappers for ROS2
